<h2>Add Exercise</h2>
<form action="/exercise" method="post">
	<label>Exercise:</label>
	<input type="text" name="name" placeholder="Exercise name" required><br>
	<input type="submit" value="Add Exercise">
</form>